
html {
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
}

section{
    padding-left: 15%;
    padding-right: 15%;
}

:root {
    --blue: rgb(0, 41, 132);
    --purple: rgb(136, 57, 151);
    --black: #212529;
    --white: #e5e5e5; 
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--white);
    height: 100%;
}

button {
    border-style: none;
}

h1{
    font-family: "Libre Baskerville";
    color: var(--purple);
    margin-top: 3rem;
    margin-bottom: 1rem;
}

h3{
    color: var(--black);
    font-size: 1.5rem;
    
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

p {
    color: var(--black);
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.4rem;

}

footer{
        position: static;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
        background: var(--purple);
        height: auto;
        width: 100%;
        color: #fff;
}

label {
    color: var(--black)
}

.card-sobre-mi{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    background-color: #fff ;
    padding: 20px;
}

.card-sobre-mi img {
    width: 300px;
    height: 400px;
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
    box-shadow: 2.8px 2.2px rgba(0, 0, 0, 0.034),
     6.7px 5.3px rgba(0, 0, 0, 0.048),
     12.5px 10px rgba(0, 0, 0, 0.06),
     22.3px 17.9px rgba(0, 0, 0, 0.072),
     41.8px 33.4px rgba(0, 0, 0, 0.086),
     2.8px 2.2px rgba(0, 0, 0, 0.12);
}

.card-sobre-mi cite {
    grid-column: 3;
    grid-row: 2;
}

.card-sobre-mi blockquote {
    grid-column: 2 / 4;
    grid-row: 1;
    height:fit-content;
    margin-top: auto;
    margin-bottom: auto;
}

.quote-sobre-mi{
    position: absolute;
    color: var(--purple);
    font-size: 48px;
    right: 60%;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    margin-bottom: 0;
    color: #cacdd2;
}

.footer-content h4{
    margin: 0.2rem;
    color: #cacdd2;
}

.footer-content p{
    max-width: 300px;
    margin: 0px auto;
    line-height: 28px;
    font-size: 10px;
    color: #cacdd2;
    padding-left: 10px;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline-start: 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
}

.socials a i{
    font-size: 1.1rem;
    width: 20px;
}

.footer-bottom{
    background: rgb(29, 27, 27);
    width: 100vw;
    text-align: center;
}

.footer-bottom p{
    float: left;
    font-size: 10px;
    word-spacing: 2px;
 }
 .footer-bottom p a{
   color:#44bae8;
   font-size: 10px;
   text-decoration: none;
 }

 .form-buttom{
     margin-left: auto;
 }


/* NAVBAR STYLING STARTS */
.navbar {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    color: var(--blue);
    z-index: 1;
   }
   .nav-links a {
    color: var(--blue);
   }

   .nav-links a:hover {
    color: white;
   }

   /* NAVBAR MENU */
   .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
   }
   .menu li:hover {
    background-color: var(--purple);
    color: white;
    border-radius: 5px;
    transition: 0.3s ease;
   }
   .menu li {
    padding: 5px 14px;
   }

/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox]{
 display: none;
} 
/*HAMBURGER MENU*/
.hamburger {
 display: none;
 font-size: 24px;
 user-select: none;
}

.banner-image{
    display: block;
    width: 100%;
    position: relative;
    top: 100px;
    margin-bottom: 12%;
}

.button{
    position: relative;
    display: flex;
    width: 115px;
    min-height: 36px;
    justify-content: center;
    align-items: center;
    background: var(--blue);
    border-radius: 5px;
    text-decoration: none;
    color: white; 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card-button{
    align-self: flex-end;
    margin-right: 5%;
    margin-top: auto;
}

.containter-rrss {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: space-evenly;
}

.card-rrss-box{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 100px;
    background-color: #fff;
    box-shadow: inset 5px 5px 5px rgba(136, 57, 151, 0.2),
      inset -5px -5px 15px rgba(0, 41, 132, 0.1),
      5px 5px 15px rgba(136, 57, 151, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1); 
}

.rrss-image{
    width: 75px;
    height: 75px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1rem;
}

.info-rrss-container{
    margin-left: 1rem;
    margin-top: 1rem;
}
.instagram-title{
    background-image: url(../img/instagram.png);
    width: 100px;
    height: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.linkedin-title{
    margin: 0; 
    margin-bottom: 3px; 
    font-family: myriad-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #0077B5;
}

.user-rrss{
    opacity: 0.7;
}

.logo-ig{
    background-image: url(../img/Instagram_Glyph_Gradient_RGB.png);
}

.logo-in{
    background-image: url(../img/LI-In-Bug.png);
}
.grid-journal{
    display: grid;
    gap: 3rem;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2rem;
}

.card-journal-box{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 350px;
    background-color:  #fff;
    padding-bottom: 10px;
    box-shadow: 5px 5px 15px rgba(0, 41, 132, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
    border-radius: 15px;
}
 
.card-journal-image{
    display: flex;
    justify-content: end;
    border-radius: 16px 16px 0 0;
    min-height: 35%;
    width: 100%;
    background-size: cover;
    background-position: top;
}

.card-journal-logo26{
    position: relative;
    width: 40px;
    height: 40px;
    margin: 10px;
}

.card-journal-box h3 {
    margin-bottom: 0;
    padding-left: 1rem;

}

.card-journal-box p {
    padding-left: 1rem;
    overflow: hidden;
    width:100%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

}

.card-veteranos-image{
    background-image: url(../img/veteranos-image.jpg);
}

.card-videojuegos-image{
    background-image: url(../img/pueden-ser-los-videojuegos-una-adiccion.jpg);
}
.card-ghosting-image{
    background-image: url(../img/ghosting-journal-image.jpg);
}

.card-celiaquia-image{
    background-image: url(../img/celiaquia.jpg);
}

.card-autismo-image{
    background-image: url(../img/autismo.jpg);
}

.form-container{
    display: flex;
    flex-direction: column;
    gap: 0.65rem;
    margin-bottom: 2rem;
    background-color: #fff;
    padding: 20px;
}


/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
    h1{
        font-size: 1.313rem;
        color: var(--purple);
    }

    p{
        font-size: 0.875rem;
    }

    section{
        padding-left: 10%;
        padding-right: 10%;
    }

    input[type=checkbox]:checked ~ .menu{
        display: block;
    }
    
    .menu { 
        display:none;
        position: absolute;
        background-color: white;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
        margin-top: 10px;
    }

    .menu li:hover {
        display: inline-block;
        background-color: var(--purple);
        transition: 0.3s ease;
    }
    .menu li + li {
        margin-top: 12px;
    }

    .hamburger {
        display: block;
    }

    .hero-image{
        height: 150px;
    }

    .grid-rrss {
        display: grid;
        gap: 1rem;
        justify-items: center;
    }

    .grid-journal{
        display: grid;
        gap: 3rem;
        justify-items: center;
        grid-template-columns: 1fr;
        margin-bottom: 2rem;
    }

    .card-journal-box{
        width: auto;
        height: 350px;
    }

    .card-sobre-mi{
        display: flex;
        flex-direction: column;
        padding: 5px;
    }
    
    .card-sobre-mi img {
        width: 100%;
        height: 100%;
        box-shadow: 2.8px 2.2px rgba(0, 0, 0, 0.034),
         6.7px 5.3px rgba(0, 0, 0, 0.048),
         12.5px 10px rgba(0, 0, 0, 0.06),
         22.3px 17.9px rgba(0, 0, 0, 0.072);
    }
    
    .card-sobre-mi blockquote {
        height:fit-content;
    }
    .card-sobre-mi cite {
        align-self: flex-end;
        margin-bottom: 20px;
    }
    
    
    .quote-sobre-mi{
        position: absolute;
        color: var(--purple);
        font-size: 48px;
        right: 60%;
    }
}